<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/layer/laydate/laydate.css}" rel="stylesheet"/>
<body class="white-bg">
<div class="container-div">
	<div class="row">
		<div class="col-sm-12 search-collapse">
			<form id="formId">
				<div class="select-list">
					<ul>
						<li>
							Station Name：<input type="text" name="wName"/>
							<input type="hidden" name="lineId" th:value="${line}"/>
						</li>
						<li>
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;search</a>
							<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;reset</a>
						</li>
					</ul>
				</div>
			</form>
		</div>

		<div class="btn-group-sm hidden-xs" id="toolbar" role="group">
			<a class="btn btn-success" onclick="add()" shiro:hasPermission="production:productionLine:add">
				<i class="fa fa-plus"></i> add
			</a>
		</div>
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
	</div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
	$("#form-purchase-add select").select2({
		placeholder:'Please choose'
	});
</script>
<script th:inline="javascript">
	// var editFlag = [[${@permission.hasPermi('production:workstation:edit')}]];
	// var removeFlag = [[${@permission.hasPermi('production:workstation:remove')}]];
	var prefix = ctx + "production/workstation";

	$(function() {
		var options = {
			url: prefix + "/list",
			createUrl: prefix + "/add",
			updateUrl: prefix + "/edit/{id}",
			removeUrl: prefix + "/remove",
			exportUrl: prefix + "/export",
			modalName: "Station Config",
			sortName:'cTime',
			sortOrder:'desc',
			search: false,
			showExport: true,
			showSearch: false,   // 是否显示检索信息
			showRefresh: false, // 是否显示刷新按钮
			showColumns: false, // 是否显示隐藏某列下拉框
			showToggle: false,   // 是否显示详细视图和列表视图的切换按钮
			showExport: false,
			columns: [
				{
					field : 'id',
					title : '',
					visible: false
				},
				{
					field : 'wName',
					title : 'Station Name',
					sortable: true
				},
				{
					field : 'devCode',
					title : 'Js Code',
					sortable: true,
					formatter:function (value, row, index) {
						if(row.devId == 0){
							return "Not Config"
						}
						return value;
					}
				},
				{
					field : 'sign',
					title : 'Data Sign',
					sortable: true,
					formatter:function (value, row, index) {
						if(value == 1){
							return '<span style="color: green">Yes</span>'
						}
						return "No";
					}
				},
				{
					title: 'operation',
					align: 'center',
					formatter: function(value, row, index) {
						var actions = [];
						actions.push('<a class="btn btn-success btn-xs" href="#" onclick="edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>edit</a> ');
						actions.push('<a class="btn btn-danger btn-xs" href="#" onclick="remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>remove</a>');
						return actions.join('');
					}
				}]
		};
		$.table.init(options);
		$.table.search('formId');
	});
	/** 添加工位 */
	function add() {
		var lineId =[[${line}]]
		$.modal.open("add Station",prefix+"/add?line="+lineId);
	}


	/**
	 * 修改工位信息
	 * @param id
	 */
	function edit(id) {
		var url = prefix+"/edit/"+id;
		$.modal.open("edit Station",url);
	}

	/**
	 * 删除工位
	 * @param id
	 */
	function remove(id) {
		$.modal.confirm("Are you sure you want to delete this message?", function () {
			var url =  $.table._option.removeUrl.replace("{id}", id);
			var data = {id: id};
			$.operate.submit(url, "post", "json", data);
		});
	}


	// 关闭窗口
	function submitHandler() {
		$.modal.close();
	}

</script>
</body>
</html>
